@use '../abstracts/variables' as *;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $clr-primary-100 url('../images/pattern-background-desktop.svg')
    no-repeat top center;
  font-family: 'Red Hat Display', sans-serif;
}

main {
  width: clamp(300px, 87.2%, 1200px);
}
